<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>
	<title>日常生活能力</title>
	
	<link href="../css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="../css/metisMenu.min.css" rel="stylesheet"></link>
	<link href="../css/dataTables.bootstrap.css" rel="stylesheet"></link>
	<link href="../css/sb-admin-2.css" rel="stylesheet"></link>
	<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
	<link href="../css/boot-crm.css" rel="stylesheet" type="text/css"></link>
	
	<link href="../plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />

	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	
    <script src="../plugins/datetimepicker/moment-with-locales.js"></script>
    <script src="../plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="../plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>


 	<!-- 引入angular的js -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    
    <script type="text/javascript" src="../js/base.js?version=001"></script>
    <script type="text/javascript" src="../js/service/baseCodeService.js?version=001"></script>
    <script type="text/javascript" src="../js/service/abilityItemService.js?version=001"></script>
    <script type="text/javascript" src="../js/service/oldmanLinkMessageService.js?version=001"></script>
    <script type="text/javascript" src="../js/controller/baseController.js?version=001"></script>
    <script type="text/javascript" src="../js/controller/oldmanLinkMessageController.js?version=001"></script>

	
	
	<style type="text/css">
		table{
		     border: 0px solid transparent !important;
		 }
		 
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
			border-top: 0px solid #ddd;		 
		}
		
		tr>td>div>label{
			width:110px;
		}
		
		.breadcrumb > .unactive{
			color:#ccc;
		}
		
	</style>
</head>


<body ng-app="xhManager" ng-controller="oldmanLinkMessageController" ng-init="findBaseCodeList();entity={evaluateGroup:'西安市雁塔区社会福利服务评估中心',evaluateAddress:'西安市雁塔区青松路65号'};">
	
	<div id="wrapper">
		
		<div>
	          <ol class="breadcrumb">
	              <li class="active"><span><b>基本信息</b></span></li>
	              <li class="active"><span><b>联系人信息</b></span></li>
	              <li class="unactive"><span><b>日常生活能力</b></span></li>
	              <li class="unactive"><span><b>精神状态</b></span></li>
	              <li class="unactive"><span><b>感知觉与沟通</b></span></li>
	              <li class="unactive"><span><b>社会参与</b></span></li>
	              <li class="unactive"><span><b>老人近况</b></span></li>
	              <li class="unactive"><span><b>评估标准</b></span></li>
	              <li class="unactive"><span><b>结果确认</b></span></li>
	          </ol>
		</div>
		
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h3><b style="font-family:华文隶书; color:green">信息提供者信息</b></h3>
				</div>
			</div>
			
		<form  class="form-inline" >		
			<div class="panel panel-default row-fluid" >
				<div class="panel-body" >
						<table class="table" >
							<tr>
								<td>
									<div class="form-group col-sm-6">
										<label for="customerFrom">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名&nbsp;<font color="red">*</font></label> 
										<input type="text" ng-model="entity.providerName" class="form-control" >
									</div>
									
									<div class="form-group col-sm-6">
										<label for="customerFrom">与&nbsp;老&nbsp;人&nbsp;关&nbsp;系&nbsp;<font color="red">*</font></label> 
										<span  ng-repeat="item in codeTypeMap['008']">
							      			<input type="radio"  ng-value="item.id" ng-model="entity.providerRelation">{{item.itemName}}&nbsp;
							             </span>
									</div>
									
								</td>
							</tr>
							
						</table>
					</div>
				</div>
			</form>
			
			
			<div class="row">
				<div class="col-lg-12">
					<h3><b style="font-family:华文隶书; color:green">联系人信息</b></h3>
				</div>
			</div>
			
			<form  class="form-inline" >
				<div class="panel panel-default row-fluid" >
					<div class="panel-body" >
						<table class="table" >
							<tr>
								<td>
									<div class="form-group col-sm-6">
										<label for="customerFrom">第一联系人姓名&nbsp;<font color="red">*</font></label> 
										<input type="text" ng-model="entity.linkman1Name" class="form-control" >
									</div>
									
									<div class="form-group col-sm-6">
										<label for="customerFrom">第一联系人手机&nbsp;<font color="red">*</font></label> 
										<input type="text" ng-model="entity.linkman1Phone" class="form-control" >
									</div>
								</td>
							</tr>
							
							<tr>
								<td>
									<div class="form-group col-sm-6">
										<label for="customerFrom">第二联系人姓名&nbsp;&nbsp;</label> 
										<input type="text" ng-model="entity.linkman2Name" class="form-control" >
									</div>
									
									<div class="form-group col-sm-6">
										<label for="customerFrom">第二联系人手机&nbsp;&nbsp;</label> 
										<input type="text" ng-model="entity.linkman2Phone" class="form-control" >
									</div>
								</td>
							</tr>
							
							<tr>
								<td>
									<div class="form-group col-sm-6">
										<label for="customerFrom">第三联系人姓名&nbsp;&nbsp;</label> 
										<input type="text" ng-model="entity.linkman3Name" class="form-control" >
									</div>
									
									<div class="form-group col-sm-6">
										<label for="customerFrom">第三联系人手机&nbsp;&nbsp;</label> 
										<input type="text" ng-model="entity.linkman3Phone" class="form-control" >
									</div>
								</td>
							</tr>
							
						</table>
					</div>
				</div>
			</form>
		
		
		
			<div class="row">
				<div class="col-lg-12">
					<h3><b style="font-family:华文隶书; color:green">评估员信息</b></h3>
				</div>
			</div>
			
			<form  class="form-inline" >
				<div class="panel panel-default row-fluid" >
					<div class="panel-body" >
						<table class="table" >
							<tr>
								<td>
									<div class="form-group col-sm-6">
										<label for="customerFrom">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名&nbsp;<font color="red">*</font></label> 
										<input type="text" ng-model="entity.evaluateName" class="form-control" >
									</div>
									
									<div class="form-group col-sm-6">
										<label for="customerFrom">所属机构&nbsp;</label> 
										<input type="text" ng-model="entity.evaluateGroup" class="form-control" >
									</div>
								</td>
							</tr>
							
							<tr>
								<td>
									<div class="form-group col-sm-6">
										<label for="customerFrom">联系电话&nbsp;<font color="red">*</font></label> 
										<input type="text" ng-model="entity.evaluatePhone" class="form-control" >
									</div>
									
									<div class="form-group col-sm-6">
										<label for="customerFrom" >居住地址</label> 
										<input type="text" ng-model="entity.evaluateAddress" class="form-control">
									</div>
								</td>
							</tr>
							
							<tr>
								<td>
									<div class="form-group col-sm-6">
										<label for="customerFrom">电子邮箱</label> 
										<input type="text" ng-model="entity.evaluateEmail" class="form-control" >
									</div>
								</td>
							</tr>
							
						</table>
					</div>
				</div>
			</form>
		
		
		
		
		  <!-- 底部按钮组 -->	
		  <div class="btn-toolbar list-toolbar" >
		      <a class="btn btn-danger" style="float:right" ng-click="entity={}">清空
		      	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		      </a>
		      
		      <a class="btn btn-success" style="float:right" ng-click="save()">下一步
		      	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		      </a>
		  </div>	
			
		</div>
	</div>
	
	
	
	<script>
		$("#birthday_time").datetimepicker({
			language: 'zh-CN',//显示中文
	        format: 'yyyy-mm-dd',//显示格式
	        minView: "month",//设置只显示到月份
	        initialDate: new Date(),
	        autoclose: true,//选中自动关闭
	        todayBtn: true,//显示今日按钮
	        locale: moment.locale('zh-cn')
        });
	</script>
</body>


</html>
