<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.mapper.TbAbilityGradeLevelMapper" >
  <resultMap id="BaseResultMap" type="com.xh.pojo.TbAbilityGradeLevel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="level_daily_living" property="levelDailyLiving" jdbcType="INTEGER" />
    <result column="level_mentality_status" property="levelMentalityStatus" jdbcType="INTEGER" />
    <result column="level_perception" property="levelPerception" jdbcType="INTEGER" />
    <result column="level_social_participation" property="levelSocialParticipation" jdbcType="INTEGER" />
    <result column="ability_level" property="abilityLevel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, level_daily_living, level_mentality_status, level_perception, level_social_participation, 
    ability_level
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xh.pojo.TbAbilityGradeLevelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_ability_grade_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_ability_grade_level
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_ability_grade_level
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xh.pojo.TbAbilityGradeLevelExample" >
    delete from tb_ability_grade_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xh.pojo.TbAbilityGradeLevel" >
    insert into tb_ability_grade_level (id, level_daily_living, level_mentality_status, 
      level_perception, level_social_participation, 
      ability_level)
    values (#{id,jdbcType=INTEGER}, #{levelDailyLiving,jdbcType=INTEGER}, #{levelMentalityStatus,jdbcType=INTEGER}, 
      #{levelPerception,jdbcType=INTEGER}, #{levelSocialParticipation,jdbcType=INTEGER}, 
      #{abilityLevel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xh.pojo.TbAbilityGradeLevel" >
    insert into tb_ability_grade_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="levelDailyLiving != null" >
        level_daily_living,
      </if>
      <if test="levelMentalityStatus != null" >
        level_mentality_status,
      </if>
      <if test="levelPerception != null" >
        level_perception,
      </if>
      <if test="levelSocialParticipation != null" >
        level_social_participation,
      </if>
      <if test="abilityLevel != null" >
        ability_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="levelDailyLiving != null" >
        #{levelDailyLiving,jdbcType=INTEGER},
      </if>
      <if test="levelMentalityStatus != null" >
        #{levelMentalityStatus,jdbcType=INTEGER},
      </if>
      <if test="levelPerception != null" >
        #{levelPerception,jdbcType=INTEGER},
      </if>
      <if test="levelSocialParticipation != null" >
        #{levelSocialParticipation,jdbcType=INTEGER},
      </if>
      <if test="abilityLevel != null" >
        #{abilityLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xh.pojo.TbAbilityGradeLevelExample" resultType="java.lang.Integer" >
    select count(*) from tb_ability_grade_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_ability_grade_level
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.levelDailyLiving != null" >
        level_daily_living = #{record.levelDailyLiving,jdbcType=INTEGER},
      </if>
      <if test="record.levelMentalityStatus != null" >
        level_mentality_status = #{record.levelMentalityStatus,jdbcType=INTEGER},
      </if>
      <if test="record.levelPerception != null" >
        level_perception = #{record.levelPerception,jdbcType=INTEGER},
      </if>
      <if test="record.levelSocialParticipation != null" >
        level_social_participation = #{record.levelSocialParticipation,jdbcType=INTEGER},
      </if>
      <if test="record.abilityLevel != null" >
        ability_level = #{record.abilityLevel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_ability_grade_level
    set id = #{record.id,jdbcType=INTEGER},
      level_daily_living = #{record.levelDailyLiving,jdbcType=INTEGER},
      level_mentality_status = #{record.levelMentalityStatus,jdbcType=INTEGER},
      level_perception = #{record.levelPerception,jdbcType=INTEGER},
      level_social_participation = #{record.levelSocialParticipation,jdbcType=INTEGER},
      ability_level = #{record.abilityLevel,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.pojo.TbAbilityGradeLevel" >
    update tb_ability_grade_level
    <set >
      <if test="levelDailyLiving != null" >
        level_daily_living = #{levelDailyLiving,jdbcType=INTEGER},
      </if>
      <if test="levelMentalityStatus != null" >
        level_mentality_status = #{levelMentalityStatus,jdbcType=INTEGER},
      </if>
      <if test="levelPerception != null" >
        level_perception = #{levelPerception,jdbcType=INTEGER},
      </if>
      <if test="levelSocialParticipation != null" >
        level_social_participation = #{levelSocialParticipation,jdbcType=INTEGER},
      </if>
      <if test="abilityLevel != null" >
        ability_level = #{abilityLevel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.pojo.TbAbilityGradeLevel" >
    update tb_ability_grade_level
    set level_daily_living = #{levelDailyLiving,jdbcType=INTEGER},
      level_mentality_status = #{levelMentalityStatus,jdbcType=INTEGER},
      level_perception = #{levelPerception,jdbcType=INTEGER},
      level_social_participation = #{levelSocialParticipation,jdbcType=INTEGER},
      ability_level = #{abilityLevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>