<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.mapper.TbOldmanSocialParticipationMapper" >
  <resultMap id="BaseResultMap" type="com.xh.pojo.TbOldmanSocialParticipation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="living_ability" property="livingAbility" jdbcType="INTEGER" />
    <result column="job_ability" property="jobAbility" jdbcType="INTEGER" />
    <result column="time_space_orientation" property="timeSpaceOrientation" jdbcType="INTEGER" />
    <result column="personage_orientation" property="personageOrientation" jdbcType="INTEGER" />
    <result column="communication_ability" property="communicationAbility" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, living_ability, job_ability, time_space_orientation, personage_orientation, communication_ability, 
    create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xh.pojo.TbOldmanSocialParticipationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_oldman_social_participation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_oldman_social_participation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_oldman_social_participation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xh.pojo.TbOldmanSocialParticipationExample" >
    delete from tb_oldman_social_participation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xh.pojo.TbOldmanSocialParticipation" >
    insert into tb_oldman_social_participation (id, living_ability, job_ability, 
      time_space_orientation, personage_orientation, 
      communication_ability, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{livingAbility,jdbcType=INTEGER}, #{jobAbility,jdbcType=INTEGER}, 
      #{timeSpaceOrientation,jdbcType=INTEGER}, #{personageOrientation,jdbcType=INTEGER}, 
      #{communicationAbility,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xh.pojo.TbOldmanSocialParticipation" >
    insert into tb_oldman_social_participation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="livingAbility != null" >
        living_ability,
      </if>
      <if test="jobAbility != null" >
        job_ability,
      </if>
      <if test="timeSpaceOrientation != null" >
        time_space_orientation,
      </if>
      <if test="personageOrientation != null" >
        personage_orientation,
      </if>
      <if test="communicationAbility != null" >
        communication_ability,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="livingAbility != null" >
        #{livingAbility,jdbcType=INTEGER},
      </if>
      <if test="jobAbility != null" >
        #{jobAbility,jdbcType=INTEGER},
      </if>
      <if test="timeSpaceOrientation != null" >
        #{timeSpaceOrientation,jdbcType=INTEGER},
      </if>
      <if test="personageOrientation != null" >
        #{personageOrientation,jdbcType=INTEGER},
      </if>
      <if test="communicationAbility != null" >
        #{communicationAbility,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xh.pojo.TbOldmanSocialParticipationExample" resultType="java.lang.Integer" >
    select count(*) from tb_oldman_social_participation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_oldman_social_participation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.livingAbility != null" >
        living_ability = #{record.livingAbility,jdbcType=INTEGER},
      </if>
      <if test="record.jobAbility != null" >
        job_ability = #{record.jobAbility,jdbcType=INTEGER},
      </if>
      <if test="record.timeSpaceOrientation != null" >
        time_space_orientation = #{record.timeSpaceOrientation,jdbcType=INTEGER},
      </if>
      <if test="record.personageOrientation != null" >
        personage_orientation = #{record.personageOrientation,jdbcType=INTEGER},
      </if>
      <if test="record.communicationAbility != null" >
        communication_ability = #{record.communicationAbility,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_oldman_social_participation
    set id = #{record.id,jdbcType=INTEGER},
      living_ability = #{record.livingAbility,jdbcType=INTEGER},
      job_ability = #{record.jobAbility,jdbcType=INTEGER},
      time_space_orientation = #{record.timeSpaceOrientation,jdbcType=INTEGER},
      personage_orientation = #{record.personageOrientation,jdbcType=INTEGER},
      communication_ability = #{record.communicationAbility,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.pojo.TbOldmanSocialParticipation" >
    update tb_oldman_social_participation
    <set >
      <if test="livingAbility != null" >
        living_ability = #{livingAbility,jdbcType=INTEGER},
      </if>
      <if test="jobAbility != null" >
        job_ability = #{jobAbility,jdbcType=INTEGER},
      </if>
      <if test="timeSpaceOrientation != null" >
        time_space_orientation = #{timeSpaceOrientation,jdbcType=INTEGER},
      </if>
      <if test="personageOrientation != null" >
        personage_orientation = #{personageOrientation,jdbcType=INTEGER},
      </if>
      <if test="communicationAbility != null" >
        communication_ability = #{communicationAbility,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.pojo.TbOldmanSocialParticipation" >
    update tb_oldman_social_participation
    set living_ability = #{livingAbility,jdbcType=INTEGER},
      job_ability = #{jobAbility,jdbcType=INTEGER},
      time_space_orientation = #{timeSpaceOrientation,jdbcType=INTEGER},
      personage_orientation = #{personageOrientation,jdbcType=INTEGER},
      communication_ability = #{communicationAbility,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>