<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.mapper.TbOldmanLivingmessageMapper" >
  <resultMap id="BaseResultMap" type="com.xh.pojo.TbOldmanLivingmessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="living_eat" property="livingEat" jdbcType="INTEGER" />
    <result column="living_bathe" property="livingBathe" jdbcType="INTEGER" />
    <result column="living_decorate" property="livingDecorate" jdbcType="INTEGER" />
    <result column="living_dress" property="livingDress" jdbcType="INTEGER" />
    <result column="living_stool_control" property="livingStoolControl" jdbcType="INTEGER" />
    <result column="living_urination_control" property="livingUrinationControl" jdbcType="INTEGER" />
    <result column="living_toilet" property="livingToilet" jdbcType="INTEGER" />
    <result column="living_bed_chair_transfer" property="livingBedChairTransfer" jdbcType="INTEGER" />
    <result column="living_walk" property="livingWalk" jdbcType="INTEGER" />
    <result column="living_stairs" property="livingStairs" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, living_eat, living_bathe, living_decorate, living_dress, living_stool_control, 
    living_urination_control, living_toilet, living_bed_chair_transfer, living_walk, 
    living_stairs, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xh.pojo.TbOldmanLivingmessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_oldman_livingmessage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_oldman_livingmessage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_oldman_livingmessage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xh.pojo.TbOldmanLivingmessageExample" >
    delete from tb_oldman_livingmessage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  
  
  
  <insert id="insert" parameterType="com.xh.pojo.TbOldmanLivingmessage" >
    insert into tb_oldman_livingmessage (id, living_eat, living_bathe, 
      living_decorate, living_dress, living_stool_control, 
      living_urination_control, living_toilet, living_bed_chair_transfer, 
      living_walk, living_stairs, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{livingEat,jdbcType=INTEGER}, #{livingBathe,jdbcType=INTEGER}, 
      #{livingDecorate,jdbcType=INTEGER}, #{livingDress,jdbcType=INTEGER}, #{livingStoolControl,jdbcType=INTEGER}, 
      #{livingUrinationControl,jdbcType=INTEGER}, #{livingToilet,jdbcType=INTEGER}, #{livingBedChairTransfer,jdbcType=INTEGER}, 
      #{livingWalk,jdbcType=INTEGER}, #{livingStairs,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  
  
  
  <insert id="insertSelective" parameterType="com.xh.pojo.TbOldmanLivingmessage" >
    insert into tb_oldman_livingmessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="livingEat != null" >
        living_eat,
      </if>
      <if test="livingBathe != null" >
        living_bathe,
      </if>
      <if test="livingDecorate != null" >
        living_decorate,
      </if>
      <if test="livingDress != null" >
        living_dress,
      </if>
      <if test="livingStoolControl != null" >
        living_stool_control,
      </if>
      <if test="livingUrinationControl != null" >
        living_urination_control,
      </if>
      <if test="livingToilet != null" >
        living_toilet,
      </if>
      <if test="livingBedChairTransfer != null" >
        living_bed_chair_transfer,
      </if>
      <if test="livingWalk != null" >
        living_walk,
      </if>
      <if test="livingStairs != null" >
        living_stairs,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="livingEat != null" >
        #{livingEat,jdbcType=INTEGER},
      </if>
      <if test="livingBathe != null" >
        #{livingBathe,jdbcType=INTEGER},
      </if>
      <if test="livingDecorate != null" >
        #{livingDecorate,jdbcType=INTEGER},
      </if>
      <if test="livingDress != null" >
        #{livingDress,jdbcType=INTEGER},
      </if>
      <if test="livingStoolControl != null" >
        #{livingStoolControl,jdbcType=INTEGER},
      </if>
      <if test="livingUrinationControl != null" >
        #{livingUrinationControl,jdbcType=INTEGER},
      </if>
      <if test="livingToilet != null" >
        #{livingToilet,jdbcType=INTEGER},
      </if>
      <if test="livingBedChairTransfer != null" >
        #{livingBedChairTransfer,jdbcType=INTEGER},
      </if>
      <if test="livingWalk != null" >
        #{livingWalk,jdbcType=INTEGER},
      </if>
      <if test="livingStairs != null" >
        #{livingStairs,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xh.pojo.TbOldmanLivingmessageExample" resultType="java.lang.Integer" >
    select count(*) from tb_oldman_livingmessage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_oldman_livingmessage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.livingEat != null" >
        living_eat = #{record.livingEat,jdbcType=INTEGER},
      </if>
      <if test="record.livingBathe != null" >
        living_bathe = #{record.livingBathe,jdbcType=INTEGER},
      </if>
      <if test="record.livingDecorate != null" >
        living_decorate = #{record.livingDecorate,jdbcType=INTEGER},
      </if>
      <if test="record.livingDress != null" >
        living_dress = #{record.livingDress,jdbcType=INTEGER},
      </if>
      <if test="record.livingStoolControl != null" >
        living_stool_control = #{record.livingStoolControl,jdbcType=INTEGER},
      </if>
      <if test="record.livingUrinationControl != null" >
        living_urination_control = #{record.livingUrinationControl,jdbcType=INTEGER},
      </if>
      <if test="record.livingToilet != null" >
        living_toilet = #{record.livingToilet,jdbcType=INTEGER},
      </if>
      <if test="record.livingBedChairTransfer != null" >
        living_bed_chair_transfer = #{record.livingBedChairTransfer,jdbcType=INTEGER},
      </if>
      <if test="record.livingWalk != null" >
        living_walk = #{record.livingWalk,jdbcType=INTEGER},
      </if>
      <if test="record.livingStairs != null" >
        living_stairs = #{record.livingStairs,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_oldman_livingmessage
    set id = #{record.id,jdbcType=INTEGER},
      living_eat = #{record.livingEat,jdbcType=INTEGER},
      living_bathe = #{record.livingBathe,jdbcType=INTEGER},
      living_decorate = #{record.livingDecorate,jdbcType=INTEGER},
      living_dress = #{record.livingDress,jdbcType=INTEGER},
      living_stool_control = #{record.livingStoolControl,jdbcType=INTEGER},
      living_urination_control = #{record.livingUrinationControl,jdbcType=INTEGER},
      living_toilet = #{record.livingToilet,jdbcType=INTEGER},
      living_bed_chair_transfer = #{record.livingBedChairTransfer,jdbcType=INTEGER},
      living_walk = #{record.livingWalk,jdbcType=INTEGER},
      living_stairs = #{record.livingStairs,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.pojo.TbOldmanLivingmessage" >
    update tb_oldman_livingmessage
    <set >
      <if test="livingEat != null" >
        living_eat = #{livingEat,jdbcType=INTEGER},
      </if>
      <if test="livingBathe != null" >
        living_bathe = #{livingBathe,jdbcType=INTEGER},
      </if>
      <if test="livingDecorate != null" >
        living_decorate = #{livingDecorate,jdbcType=INTEGER},
      </if>
      <if test="livingDress != null" >
        living_dress = #{livingDress,jdbcType=INTEGER},
      </if>
      <if test="livingStoolControl != null" >
        living_stool_control = #{livingStoolControl,jdbcType=INTEGER},
      </if>
      <if test="livingUrinationControl != null" >
        living_urination_control = #{livingUrinationControl,jdbcType=INTEGER},
      </if>
      <if test="livingToilet != null" >
        living_toilet = #{livingToilet,jdbcType=INTEGER},
      </if>
      <if test="livingBedChairTransfer != null" >
        living_bed_chair_transfer = #{livingBedChairTransfer,jdbcType=INTEGER},
      </if>
      <if test="livingWalk != null" >
        living_walk = #{livingWalk,jdbcType=INTEGER},
      </if>
      <if test="livingStairs != null" >
        living_stairs = #{livingStairs,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.pojo.TbOldmanLivingmessage" >
    update tb_oldman_livingmessage
    set living_eat = #{livingEat,jdbcType=INTEGER},
      living_bathe = #{livingBathe,jdbcType=INTEGER},
      living_decorate = #{livingDecorate,jdbcType=INTEGER},
      living_dress = #{livingDress,jdbcType=INTEGER},
      living_stool_control = #{livingStoolControl,jdbcType=INTEGER},
      living_urination_control = #{livingUrinationControl,jdbcType=INTEGER},
      living_toilet = #{livingToilet,jdbcType=INTEGER},
      living_bed_chair_transfer = #{livingBedChairTransfer,jdbcType=INTEGER},
      living_walk = #{livingWalk,jdbcType=INTEGER},
      living_stairs = #{livingStairs,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>